:root{
    --white-color: #eeeeee;
    --main-color: #1E3050;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif; 
    font-size: 2rem;
    color: var(--main-color);
    overflow-x: hidden;
}

.description-content{
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 90rem;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 1rem;
    padding: 2rem;
}

.task-name{
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 5rem;
}

.task-description{
    margin: 0 auto;
    width: 65rem;
    height: auto;
    padding: 2rem;
}

.task-description p{
    font-size: 2.2rem;
    word-wrap: break-word; 
    line-height: 1.5;
    font-weight: 500;
}

.div-btn{
    display: flex;
    justify-content: end;
}

.btn-back{
    width: 15rem;
    padding: 1.6rem;
    border-radius: 1rem;
    margin: 0 6rem 4rem;
    font-weight: 800;
    font-size: 1.6rem;
}

.arrow-left{
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
}