:root{
    --white-color: #eeeeee;
    --main-color: #1E3050;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif; 
    font-size: 2rem;
    color: var(--main-color);
}

.description-content{
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 70%;
    margin: 4rem auto;
    border-radius: 1rem;
}

.task-name{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 5rem;
    margin-top: 2rem;
}

.task-description{
    display: flex;
    width: 80%;
    margin: 4rem auto;
    font-size: 3rem;
    font-weight: 650;
    color: #2c436d;
}

.div-btn{
    display: flex;
    justify-content: end;
}

.btn-back{
    display: flex;
    justify-content: center;
    width: 15rem;
    align-items: center;
    padding: 1.6rem;
    border-radius: 1rem;
    margin: 0 6rem 4rem;
    font-weight: 800;
    font-size: 1.6rem;
}

.arrow-right{
    font-size: 2.5rem;
    margin-top: 0.9rem;
    color: #2c436d;
}

.arrow-left{
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
}