.edit-task{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 900;
    padding: 1rem;
}

.buttons-updatetask{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50rem;
    padding: 2rem;
}
