@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --white-color: #eeeeee;
    --main-color: #1E3050;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif; 
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    background-image: url('assets/confetti-doodles.svg');
    color: var(--main-color);
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

ul{
    list-style: none;
}

button{
    border: none;
    color: var(--white-color);
    background-color: var(--main-color);
    box-shadow: 2px 5px 20px -2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.principal-text{
    display: flex;
    justify-content: center;
    color: var(--white-color);
    font-weight: 800;
}

.tasks-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white-color);
    width: 50%;
    margin: 3rem auto;
    border-radius: 1rem;
    padding: 3rem;
}

.button-task{
    display: inline flex;
    font-size: 2.4rem;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    padding: 1.2rem;
    width: 77%;
}

.button-detail{ 
    display: inline;
    margin-left: 1rem;
    width: 10%;
    font-size: 2.4rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    padding: 1.2rem;
}

.button-delete{
    margin-left: 1rem;
    width: 10%;
    font-size: 2.4rem;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    padding: 1.2rem;
}

.line-through {
    text-decoration: line-through;
}

.add-task{
    background-color: var(--white-color);
    width: 50%;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 3rem;
}

.add-task button{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 20%;
    padding: 1rem;
    border-radius: 0.8rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.inputs-content{
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: 0 auto;

}

input{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    outline: none;
    width: 100%;
    padding: 0.7rem;
    cursor: pointer;
    border-color: transparent;
}

label{
    font-weight: 800;
    margin-bottom: 0.5rem;
}